@import "compass";

body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff no-repeat;
  background-size: 100%;
  background-position: top center;
  color: #999999;
  font-weight: 300;
  font-size: 18px;
}

.body-wrap {
  margin-top: 100px;
}


//Styling for header bar (from smart video)

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

header .main-nav {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header .main-nav li {
  margin: 15px;
  display: inline-block;
}
header .main-nav li a {
  padding: 5px;
  color: #cecece;
  transition: color 0.2s;
}
header .main-nav li a:hover {
  color: #fff;
  border-bottom: 2px solid #ef4c7f;
  text-decoration: none;
}
header .main-nav li a.active {
  color: #fff;
  border-bottom: 2px solid #f79f3a;
}

header .context-menu {
  position: relative;
  background: #9f3359;
  padding: 10px;
}
header .context-menu .header-index {
  color: #ccc;
  position: absolute;
  transform: translatex(-50%);
  left: 50%;
  top: 15px;
  margin: 0;
}
header .context-menu .header-index a {
  color: #ccc;
  margin: 0 10px;
}
header .context-menu .header-index a.active {
  color: #fff;
}
header .context-menu .video-title {
  background-color: #9f3359;
  display: inline-block;
  padding: 10px;
  padding-right: 40px;
  margin: 0;
  position: relative;
  transition: background 0.2s;
  border-radius: 5px;
  border-style: none;
}
header .context-menu .video-title:hover {
  background-color: #ef4c7f;
  cursor: pointer;
}
header .context-menu .video-title:hover:after {
  opacity: 1;
}
header .context-menu .video-title:after {
  content: "";
  opacity: 0.2;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 0;
  background-image: url('../assets/images/edit.png');
  background-repeat: no-repeat;
  background-size: 22px;
}
header .context-menu .option-menu {
  float: right;
}
header .context-menu .option-menu > ul {
  background: #1a1a1a;
  right: 0;
}

.btn {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  padding: 8px 24px;
  border-radius: 30px;
}
.btn.pink {
  background: #ef4c7f;
}

.option-menu {
  position: relative;
  padding: 10px 0;
  display: inline-block;
}
.option-menu .options {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.2s;
  transform: rotate(90deg);
}
.option-menu .options .lineball {
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}
.option-menu .options .lineball.second {
  top: 25%;
}
.option-menu .options .lineball.third {
  top: 75%;
}
.option-menu:hover .options {
  cursor: pointer;
  transform: rotate(0deg);
}
.option-menu:hover .options .lineball {
  width: 12px;
  height: 2px;
  border-radius: 0;
}
.option-menu:hover ul {
  display: block;
}
.option-menu ul {
  top: 40px;
  display: none;
  position: absolute;
  background: #9f3359;
  padding: 0;
  margin: 0;
  list-style: none;
}
.option-menu ul li a {
  display: inline-block;
  padding: 5px;
  color: #fff;
  font-size: 14px;
  min-width: 150px;
}

// END Styling for header bar (from smart video)

.column-header {
  text-align: center;
}
.column-header h2 {
  display: inline-block;
  border-bottom: 2px solid #f79f3a;
  margin-bottom: 40px;
}

.product-card {
  height: 130px;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #ffffff

}
.product-card-title {
  width: 100%;
}

.product-card-image {
  width: 100px;
  height: 100px;
}


/*
// The main tab container
.tab-container {
  background: #8dc8fb; // Make the background blue
  margin: 0;
  padding: 0;
  max-height: 40px;

  ul {
    &.nav-tabs {
      margin: 0;
      list-style-type: none;
      line-height: 40px;
      max-height: 40px;
      overflow: hidden;
      display: inline-block;
      @include display-flex; // This is the magic that will dynamically expand/shrink the width tabs
      padding-right: 20px;
      border-bottom: 5px solid #f7f7f7;

      $color: #c3d5e6; // Color for the disabled files

      // Inactive tab styles
      > li {
        $raduis: 28px 145px; // Radius to make the tabs look like trapezoid

        // Apply the radius
        @include border-top-left-radius($raduis);
        @include border-top-right-radius($raduis);

        margin: 5px -14px 0;
        padding: 0 30px 0 25px;
        height: 170px;
        background: $color;
        position: relative;
        width: 200px;
        max-width: 200px;
        min-width: 20px;
        border:1px solid #aaa;

        @include box-shadow(0 4px 6px rgba(0,0,0,.5));

        &:first-child {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        > a {
          display: block;
          max-width:100%;
          text-decoration: none;
          color: #222;
          padding: 3px 7px;

          span {
            overflow: hidden;
            white-space: nowrap;
            display: block;
          }

          &:focus,
          &:hover {
            background-color: transparent;
            border-color: transparent;
          }

          // The remove button styles
          .glyphicon-remove {
            color: #777;
            display: inline-block;
            padding:3px;
            font-size: 10px;
            position:absolute;
            z-index: 10;
            top:7px;
            right: -10px;
            @include border-radius(50%);

            &:hover {
              background: #d39ea3;
              color: white;
              @include box-shadow(inset 0 1px 1px rgba(0,0,0,.25));
              @include text-shadow(0 1px 1px rgba(0,0,0,.25));
            }
          }
        }

        // Active tab style
        &.active {
          z-index: 2;
          @include background-image(linear-gradient(white, #f7f7f7 30px));

          > a {
            background-color: transparent;
            border-color: transparent;
            border-bottom-color: transparent;

            &:focus,
            &:hover {
              background-color: transparent;
              border-color: transparent;
              border-bottom-color: transparent;
            }
          }
        }
      }

      // The open new tab button
      .btn {
        float: left;
        height: 20px;
        width: 35px;
        min-width: 35px;
        max-width: 35px;
        margin: 10px 0 0 0;
        border-color: #71a0c9;
        outline: none;

        @include transform(skew(30deg));

        &.btn-default {
          background: $color;

          &:hover {
            background: #d2deeb;
          }

          &:active {
            background: #9cb5cc;
          }
        }
      }
    }
  }

  // Styling the tab containter
  .tab-pane {
    padding: 60px 40px;
    text-align: center;

    &.active {
      border-top:1px solid #ddd;
    }
  }
}*/
