<!DOCTYPE html>
<!-- tell angular this is shoppableVideo -->
<html lang="en" ng-app="shoppableVideo">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shoppable Video Application</title>
    <!-- include the Bootstrap and jQuery UI CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- include our compiled CSS -->
    <link href="css/style.css" rel="stylesheet">
</head>
<!-- this will be the only controller AppCtrl -->

<body ng-controller="AppCtrl" ng-cloak>
    <header>
        <div class="container-fluid">
            <div class="row context-menu">
                <div class="col-sm-4">
                    <input class="video-title" ng-model="videoTitle" name="" value="" placeholder="Shoppable Video Title">
                </div>
                <div class="col-sm-4">
                    <ul class="main-nav">
                        <li><a href="smartvideo.html" class="active">Product timeline</a></li>
                        <li><a href="">Appearance</a></li>
                        <li><a href="">Publish</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="option-menu">
                        <div class="options">
                            <span class="lineball"></span>
                            <span class="lineball second"></span>
                            <span class="lineball third"></span>
                        </div>
                        <ul>
                            <li><a href="#">Change video source</a></li>
                            <li><a href="#">Remove Shoppable Video</a></li>
                        </ul>
                    </div>
                    <a href="#" class="btn yellow btn-sm" style="float: right; margin-top: 2px; margin-right: 10px;">Save</a>
                </div>
            </div>
        </div>
    </header>

    <div class="body-wrap container-fluid">

        <!--Library with products-->
        <div id="myModal" class="col-sm-6" ng-show="showLibrary">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Library</h4>
                </div>

                <div class="modal-body">
                    <div id="modal-input">
                        <input type="text" class="search" placeholder="Search" ng-model="searchItem">
                        <select id="categories" ng-model="showCategory">
                          <option value="" selected>All categories</option>
                          <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
                        </select>
                    </div>

                    <ul class="items grid" >
                        <li ng-repeat="item in libraryProducts | filter:searchItem | filter:showCategory">
                            <div class="item" ng-click="addProduct(selectedCard, item)" ng-class="{'selectedItem': isProductAdded(item, selectedCard)}">
                                <div class="item-thumb">
                                    <a href="#">
                                        <img ng-src="{{item.imageURL}}" />
                                    </a>
                                </div>
                                <div class="item-txt">
                                    <a href="#">
                                        <h6 ng-bind="item.productTitle"></h6>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn yellow close-library" ng-click="showLibrary=false">Close</button>
                </div>
            </div>
        </div>

        <!--Left column-->
        <div class="col-sm-6" style="padding-left: 30px;">
            <div class="row">
                <div class="col-sm-12 column-header">
                    <h4>Preview</h4>
                </div>
            </div>
            <!-- Video code-->
            <div class="video-container">
                <video some-video video-current-time="currentTime" id="video" controls>
                <source src="../assets/videos/Croissants.mp4" type="video/mp4">
            </video>
                <div id="controls">
                    <div id="play">
                        <button id="playpause" ng-click="togglePlayPause()"> <img ng-src="{{playPauseSrc}}" alt="Play" style="width:20px; height:20px;"> </button>
                    </div>
                    <div>
                        <div id="progressBar">
                            <div id="progress">
                            </div>
                        </div>
                        <p style="font-size: 10px; color: white; margin: 0;">{{currentTime | toMinSec}} / 1:01</p>

                    </div>

                    <input type="range" ng-click="setVolume()" id='volume' min=0 max=1 step=0.01 value='1'/>
                    <button id="mute" ng-click="toggleMute()"> <img ng-src="{{muteSrc}}" alt="Play" style="width:20px; height:20px;"></button>
                </div>

                <div class="col-sm-12 video-product-bar">

                    <div class="video-product-bar-left">
                        <img class="arrows" src="../assets/images/arrow-left.png" alt="Arrow left">
                    </div>
                    <div class="video-product-bar-content">
                        <ul class="video-bar-showing-product">

                            <li class="video-product-bar-item" ng-repeat="productCard in productCards track by $index">

                                <div class="container" ng-if="productCard.products.length > 0">
                                    <img id="productCardsShowing" ng-src="{{productCard.products[0].imageURL}}" alt="">
                                    <div class="overlay">
                                        <div class="ProductText">
                                            <h5 class="productTitle" ng-bind="productCard.products[0].productTitle"></h5>
                                            <hr>
                                            <h5 class="buttonText" ng-bind="productCard.products[0].buttonText"></h5>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <!-- Commentmarking to delete blank space
                      --></ul>
                    </div>
                    <div class="video-product-bar-right">
                        <img class="arrows" src="../assets/images/arrow-right.png" alt="Arrow right">
                    </div>
                </div>
            </div>
        </div>

        <!--Right column-->
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12 column-header">
                    <h4>Products</h4>
                    <p>{{markerValue}}</p>
                </div>
            </div>

            <div class="container-fluid">
                <div id="card-container" class="card-container" ui-sortable="sortableCardOptions" ng-model="productCards">
                    <div ng-repeat="productCard in productCards" id="productCard-{{::$index}}" scroll-to-last="productCard-{{::$index}}" ng-init="productCardIndex = $index">
                        <div class="product-card">
                            <div class="product-card-thumb">
                                <div ng-class="{'product-card-hightlight': $index === selectedCard && showLibrary && $index<=2}"></div>
                                <!--Hard coded highlight-arrow on productcard (4-8) when library is open-->
                                <div ng-class="{'product-card-hightlight-4': $index === selectedCard && showLibrary && $index ===3}"></div>
                                <div ng-class="{'product-card-hightlight-5': $index === selectedCard && showLibrary && $index ===4}"></div>
                                <div ng-class="{'product-card-hightlight-6': $index === selectedCard && showLibrary && $index ===5}"></div>
                                <div ng-class="{'product-card-hightlight-7': $index === selectedCard && showLibrary && $index ===6}"></div>
                                <div ng-class="{'product-card-hightlight-8': $index === selectedCard && showLibrary && $index ===7}"></div>

                                <input type="text" class="product-card-title" ng-model="productCard.cardTitle" name="" value="" placeholder="{{productCard.cardTitle}}">
                                <img class="product-card-image" ng-src="{{productCard.products[0].imageURL}}" ng-if="!productCard.products.length > 0" src="../assets/images/insertpicture.png">
                                <img class="product-card-image" ng-src="{{productCard.products[0].imageURL}}" ng-if="productCard.products.length > 0" src="../assets/images/insertpicture.png">
                            </div>
                            <div class="timeline">
                                <div class="product-timeline" ng-class="{'disable-timeline': showLibrary}">
                                    <div class="marker group" marker></div>
                                    <div class="product-bar ui-widget-content" slider>
                                        <span class="seg-start">00:00:00</span>
                                        <span class="seg-end">00:00:15</span>
                                        <span class="del-seg"><a href="#"></a>
                                        </span>
                                    </div>
                                    <!--<p style="font-size:10px; margin-top: 48px;">Marker-time / 1:01</p>-->
                                </div>

                            </div>
                            <div class="timeline-block timeline-btns">
                                <button type="button" class="add-timeslot " ng-class="{'disable-timeline': $parent.showLibrary}" add-timeslot></button>
                                <button type="button" class="delete-product" ng-click="removeProductCard($event, $index)"><img src="../assets/images/bin.png"></button>
                                <button type="button" class="dropdown-triangle" ng-class="{'glyphicon glyphicon-triangle-bottom': isCollapsed, 'glyphicon glyphicon-triangle-right': !isCollapsed }" ng-click="isCollapsed = !isCollapsed"></button>
                            </div>
                        </div>
                        <div uib-collapse="!isCollapsed">
                            <div class="product-card-well col-sm-12" ui-sortable="sortableProductOptions" ng-model="productCard.products">

                                <div ng-repeat="product in productCard.products">
                                    <div class="product" ng-click="isProductCollapsed = !isProductCollapsed">
                                        <div class="product-thumb">
                                            <img class="product-image" ng-src="{{product.imageURL}}" alt="product image">
                                        </div>
                                        <div class="product-title">
                                            <span ng-bind="product.productTitle"></span>
                                            <span class="default-product" ng-if="$index == 0">(Default)</span>
                                        </div>
                                        <div class="product-toggle">
                                            <button type="button" class="delete-product" ng-click="removeProduct(productCardIndex, $event, $index)"><img src="../assets/images/bin.png"></button>
                                            <button type="button" class="dropdown-triangle" ng-class="{'glyphicon glyphicon-triangle-bottom': isProductCollapsed, 'glyphicon glyphicon-triangle-right': !isProductCollapsed }"></button>
                                        </div>
                                    </div>
                                    <div uib-collapse="!isProductCollapsed">
                                        <div class="col-sm-12 product-collapse">
                                            <div class="col-sm-9">
                                                <form>
                                                    <table class="col-sm-12">
                                                        <tr>
                                                            <th class="col-sm-3">Title</th>
                                                            <td><input class="col-sm-12" type="text" ng-model="product.productTitle"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Link</th>
                                                            <td><input type="text" ng-model="product.link"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Special offer</th>
                                                            <td><input type="text" ng-model="product.specialOffer"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Button Text</th>
                                                            <td><input type="text" ng-model="product.buttonText"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Target Group</th>
                                                            <td><input type="text" ng-model="product.targetGroup"></td>
                                                        </tr>
                                                        <!--<tr>
                                                  <th></th>
                                                  <td style="padding: 5px;"><input type="checkbox" id="default"/><label for="y" style="font-weight:normal;">Set as default product</label></td>
                                                </tr>-->
                                                    </table>
                                            </div>
                                            <div class="col-sm-3" style="padding: 0 20px 0 0;">
                                                <img class="product-image-collapse" ng-src="{{product.imageURL}}" alt="product image">

                                                <button type="button" class="btn pink" style="font-size: 12px;">Upload image</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-add">
                                    <button type="button" ng-mouseover="hoverAddProduct=true" ng-mouseleave="hoverAddProduct=false" data-ng-click="$parent.showLibrary = true; selectCard($index)"></button>
                                    <h5 class="col-sm-11" ng-show="hoverAddProduct">Add products</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Static bar for add product card-->
                <div class="product-card-add">
                    <h5 class="col-sm-11" ng-show="hoverAddButton">Add product card</h5>
                    <button type="button" class="col-sm-12 add-button" ng-mouseover="hoverAddButton=true" ng-mouseleave="hoverAddButton=false" ng-click="showLibrary = true; isCollapsed = true; addProductCard()"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- include the JavaScript dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.13.2/sortable.min.js"></script>
    <script> var video = document.getElementById("video"); video.controls = false;</script>

    <!-- include our JavaScript -->
    <script src="js/app.js"></script>

</body>

</html>
